<meta name="viewport" content="width=device-width, initial-scale=1.0">
<head>
  <script data-ad-client="ca-pub-3227302706684816" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
</head>
<%- include('../blocks/header', {bot, user, path}) %>
<div class="container">
	<div class="row justify-content-md-center">
		<h2 style="color: #fff;">Sunucu Yönetimi</h2>
	</div>
	<div class="row">
		<div class="col col-4">
			<%- include('../blocks/guild-card', {guild}) %>
		</div>
		<div class="col">
			<%- include('../blocks/guild-nav.ejs', {active: "filtre", guild}) %>
			<form method="post">
				<ul class="list-group list-group-flush">
          <li class="list-group-item" style="padding: 0; background-color: #525656;"> </li>
                      <center><h4 style="color:red">Bakımda...</h4></center>
        </ul>
          
				<div style="width: 100%; text-align: right; margin-top: 20px;">
					<a class="btn btn-danger" data-toggle="modal" data-target="#settingsResetModal" role="button" style="color: #ffffff;">Ayarları Sıfırla<i class="fa fa-fw fa-cogs" aria-hidden="true"></i></a>
					<button type="submit" class="btn btn-primary">Değişiklikleri Kaydet<i class="fa fa-fw fa-save" aria-hidden="true"></i></button>
				</div>
			</form>
		</div>
	</div>
</div>
<% include ../blocks/guild-modals %>
<script type="text/javascript">
	var ts = parseInt($('#guildCreate').text());
	$('#guildCreate').html(`<strong>Created:</strong>: ${moment(ts).format('MMMM Do YYYY (h:mm a)')}`);
</script>
<% include ../blocks/footer %>
