<meta name="viewport" content="width=device-width, initial-scale=1.0">
<head>
<meta name="propeller" content="ed8f5c0445a3d58f37fc547159b689c6">
  <script data-ad-client="ca-pub-3227302706684816" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
</head>
<%- include('blocks/header', {bot, user, path}) %>
<div class="container">

  
	<div class="jumbotron" style="background-color:#3E4246;">
		<div align="center">
			<a class="navbar-brand"><img src="<%= bot.user.avatarURL %>" width="200" height="200" class="d-inline-block align-top rounded-circle" alt=""><br /><font color="white" size=20> <%= bot.user.username %> Bot</font></a><br /><br />
       <center><h3 style="color:white"> Discord Sunucunuz İçin Dolu Dolu Bir Bot!</h3></center>
      
			<% if(!user) { %>
			<a class="btn btn-danger" href="/davetet" role="button"><i class="fa fa-book fa-fw"></i> Sunucuna Ekle!</a> <a class="btn btn-warning" href="/girisyap" role="button"><i class="fa fa-key fa-fw"></i> Giriş Yap</a><br><br>
      <a class="btn btn-primary" href="/komutlar" role="button"><i class="fa fa-book fa-fw"></i> Komutlar</a> <a class="btn btn-success" href="/ozellikler" role="button"><i class="fa fa-bandcamp"></i> Özellikler</a><br><br>
			<% } else { %>
				<a class="btn btn-light" href="/dashboard" role="button"><i class="fa fa-cogs fa-fw" aria-hidden="true"></i> Yönetim Paneli</a> <a class="btn btn-primary" href="/komutlar" role="button"><i class="fa fa-book fa-fw"></i> Komutlar</a><br><br>
				<a class="btn btn-danger" href="/cikisyap" role="button"><i class="fa fa-sign-out fa-fw" aria-hidden="true"></i> Çıkış Yap</a><br><br>
			<% } %>
		</div>
	</div>
   <script src="sw.js"></script>
</div>

