<meta name="viewport" content="width=device-width, initial-scale=1.0">
<head>
  <script data-ad-client="ca-pub-3227302706684816" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
</head>
<%- include('blocks/header', {bot, user, path}) %>
<div class="container">
  
	<div class="jumbotron" style="background-color:#3E4246;">
		<div align="center">
			<a class="navbar-brand"><img src="<%= bot.user.avatarURL %>" width="200" height="200" class="d-inline-block align-top rounded-circle" alt=""><br /><font color="white" size=20> Unus'un Özellikleri</font></a><br /><br />
    <center><h4 style="color:white"><i class="fa fa-caret-right" aria-hidden="true"></i> Çeşitli Filtreleme Sistemleri! (Küfür-link-reklam engelleri, komut kapatma)</h4></center>
      <center><h4 style="color:white"><i class="fa fa-caret-right" aria-hidden="true"></i> Botun Moderasyon Komutlarını Kullanmak İçin Ayarlanabilir Özel Rol</h4></center>      
            <center><h4 style="color:white"><i class="fa fa-caret-right" aria-hidden="true"></i> Çeşitli Moderasyon Sistemleri! (Otorol, ototag, kayıt sistemleri)</h4></center>
            <center><h4 style="color:white"><i class="fa fa-caret-right" aria-hidden="true"></i> Sunucu Log Sistemi (Her şey kayıt altında!)</h4></center>
            <center><h4 style="color:white"><i class="fa fa-caret-right" aria-hidden="true"></i> Resimli veya Embed Gelen Giden!</h4></center>
      <center><h4 style="color:white"><i class="fa fa-caret-right" aria-hidden="true"></i> Ayarlanabilir Mesajlar!</h4></center>
		</div>
	</div>
</div>

<% include ./blocks/footer %>