<meta name="viewport" content="width=device-width, initial-scale=1.0">
<head>
  <script data-ad-client="ca-pub-3227302706684816" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
</head>
<%- include('blocks/header', {bot, user, path}) %>
<div class="container">
  
	<div class="jumbotron" style="background-color:#3E4246;">
		<div align="center">
			<a class="navbar-brand"><img src="<%= bot.user.avatarURL %>" width="200" height="200" class="d-inline-block align-top rounded-circle" alt=""><br /><font color="white" size=20>Yapımcı Bilgileri</font></a><br /><br />
      <center><a href="https://discordapp.com/users/385001389119504384"><h3 style="color:white"><i class="fa fa-tag" aria-hidden="true"></i> Discord: pRx#3889</h3></a></center>
        <center><a href="http://instagram.com/hamdullahaltn"><h3 style="color:white"><i class="fa fa-instagram" aria-hidden="true"></i> Instagram: hamdullahaltn</h3></a></center>
      <center><a href="https://steamcommunity.com/id/hamdullahprxaltun"><h3 style="color:white"><i class="fa fa-steam" aria-hidden="true"></i> Steam: pRx</h3></a></center>
		</div>
	</div>
</div>
      
      <% include ./blocks/footer %>